.LayoutSite {
  display: flex;
  align-items: start;
  .LayoutSiteContent {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header {
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 999;
      left: 0;
    }
    main {
      flex: 1;
    }
    footer {
      margin-top: auto;
    }
  }
}
