#Header {
  padding-block: 20px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 300px;
    max-width: 400px;
    input {
      border: none;
      color: white;
      width: 280px;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .userPhoto {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 999;

    img {
      width: 100%;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: white;
    }
    .logout_btn {
      position: absolute;
      top: 45px;
      right: 0px;
      padding: 6px 20px;
      width: 115px;
      border: 1px solid white;
      border-radius: 10px;
    }
  }
}
